@font-face {
    font-family: D;
    src: url(font/SpaceX.ttf);
}
@font-face {
    font-family: T;
    src: url(font/Equinox\ Bold.otf);
}
@font-face {
    font-family: S;
    src: url(font/Equinox\ Regular.otf);
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}
.container{
    position: absolute;
    width: 400vw;
    height: 100vh;
    overflow: hidden;
}
/* ==========================================*/
/* ================ PAGINAS ==============*/
/* ==========================================*/

.pagina1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,255);
}
.pagina2{
    position: absolute;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:rgba(0,0,0,255);
}
.pagina3{
    position: absolute;
    left: 200vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:rgba(0,0,0,255);
}
.pagina4{
    position: absolute;
    left: 300vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:rgba(0,0,0,255);
}
.gif{
    position: absolute;
    width: 5vw;
    left: 10vw;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    width: 92vw;
    top: 3vh;
    z-index: 10;
    font-family: T;
    font-size: 1.3vw;
}

.logo {
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.3;
    color:#ffffff;
    left: 2vw;
    position: relative;
    font-family: T;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffa500;
}


/* ==========================================*/
/* ================ PAGINA 1 ==============*/
/* ==========================================*/


.text-section {
    width: 50vw;
}

.text-section h3 {
    top: 34vh;
    position: absolute;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: lighter;
    left: 5vw;
    font-family: D;
}

.ev{
    left: 5vw;
    top: 31vh;
    position: absolute;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: S;
}

.text-section h1 {
    left: 5vw;
    position: absolute;
    left: 50vw;
    top: 20vh;
    font-size: 9vw;
    font-weight: bold;
    color:#ff5e00;
    writing-mode: vertical-lr;
    transform: rotate(0deg);
}

.Jaime{
    position: absolute;
    left: 6.5vw;
    top: 14vh;
    font-size: 2vw;
    font-weight: bold;
    color:#ff5e00;
    opacity: 0.7;
}

.text-section .highlight {
    color: white;
}

.text-section h2  {
    left: 5vw;
    position: absolute;
    top: 35vh;
    font-size: 6vw;
    font-weight: bold;
    background: url('imagen/image.png') no-repeat center center/cover;
    -webkit-background-clip: text;
    color: transparent;
    font-family: D;
}

.text-section p {
    left: 5vw;
    position: absolute;
    top: 47vh;
    color: #ffffff;
    font-size: 1vw;
    margin: 20px 0;
    font-family: S;
}

.learn-more {
    left: 5vw;
    position: absolute;
    top: 60vh;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 1vw;
    transition: background 0.3s, color 0.3s;
    font-family: T;
}

.learn-more:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
}

.image-section {
    top: 5vw;
    width: 40vw;
    position: absolute;
    left: 58vw;
}

.image-section img {
    width: 38.5vw;
    border-radius: 10px;
}


@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes bounceIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.text-section h1 {animation: slideInFromLeft 1s ease-out forwards; animation-delay: 0.4s;}
.text-section h2 { animation: slideInFromRight 1s ease-out forwards; animation-delay: 0.4s; }
.text-section h3 { animation: slideInFromBottom 1s ease-out forwards; animation-delay: 0.6s; }
.text-section p { animation: fadeIn 1s ease-out forwards; animation-delay: 0.8s; }
.ev, .learn-more { animation: bounceIn 1s ease-out forwards; animation-delay: 1s; }


.image-section img {
    opacity: 0;
    animation: slideInFromRight 1.5s ease-out forwards;
    animation-delay: 1s;
}


/* ==========================================*/
/* ================ PAGINA 2 ==============*/
/* ==========================================*/
.jaime2{
    left: 10vw;
    top: -10vw;
    position: absolute;
    width: 60vw;
}
.jaime3{
    left: -10vw;
    top: -30vw;
    position: absolute;
    width: 95vw;
    opacity: 0.2;
}

.a3{
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    color:#ffffff;
    font-family: S;
    top: 15vh;
    left: 43vw;
}

.a1{
    font-size: 5vw;
    font-weight: bold;
    color:#ff5e00;
    opacity: 0.2;
    font-family: D;
    top: 15vh;
    left: 42vw;
    position: absolute;
}

.p{
    position: absolute;
    font-size: 1vw;
    color:#ffffff;
    top: 29vh;
    left: 43vw; 
    font-family:Verdana;
}

.a2{
    position: absolute;
    font-size: 1vw;
    font-weight: bold;
    color:#ff5e0098;
    font-family: S;
    top: 45vh;
    left: 43vw;
}
.b2{
    position: absolute;
    font-size: 1vw;
    font-weight: bold;
    color:#ffffff;
    font-family: T;
    top: 45vh;
    left: 55vw;
}
.p2{
    position: absolute;
    font-size: 1vw;
    font-weight: bold;
    color:#ffffff;
    font-family:S;
    top: 60vh;
    left: 43vw;
}
/* Main Display Section */
.main-display {
    position: absolute;
    width: 53vw;
    height: 25vh;
    left: 37.5vw;
    top: 69vh;
    font-family: T;
}

svg {
    width: 20vw;
    height: 20vw;
    background-color: #00000000;
}

/* Estilos de los círculos */
.c1, .c2, .c3, .c4 {
    position: absolute;
    top: 0.6vw;
    width: 10vw;
    height: 10vw;

}

.c1 { left: 5vw; }
.c2 { left: 16vw; }
.c3 { left: 27vw; }
.c4 { left: 38vw; }

/* Líneas de animación */
.color1, .color3, .color5, .color7 {
    fill: none;
    stroke-width: 0.4vw;
    stroke-dashoffset:100; 
    transform: rotate(90deg);
    transform-origin: 50%;
    animation: cargar 2s forwards ease-in-out;
}
.color1{stroke-dasharray: 90 100;}
.color3{stroke-dasharray: 89 100;}
.color5{stroke-dasharray: 85 100;}
.color7{stroke-dasharray: 95 100;}


.color1 { stroke: #D35400; }
.color3 { stroke: #E67E22; }
.color5 { stroke: #F1C40F; }
.color7 { stroke: #E0CDA9; }


#color2, #color4, #color6, #color8 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 100;
    transform-origin: 50%;
}

/* Rotaciones */
#color2 { transform: rotate(179deg); }
#color4 { transform: rotate(150deg); stroke-dasharray: 73 100; }
#color6 { transform: rotate(179deg); stroke-dasharray: 65 100; }
#color8 { transform: rotate(196deg); stroke-dasharray: 60 100; }

@keyframes cargar {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


.w1 {
    position: absolute;
    left: 43.5vw;
    top: 91.3vh;
    font-size: 0.8vw;
    color: white;
    font-family: S;
}

.w2 {
    position: absolute;
    left: 57.7vw;
    top: 91.3vh;
    font-size: 0.8vw;
    color: white;
    font-family: S;
}

.w3 {
    position: absolute;
    left: 67.4vw;
    top: 91.3vh;
    font-size: 0.8vw;
    color: white;
    font-family: S;
}

.w4 {
    position: absolute;
    left: 77.7vw;
    top: 91.3vh;
    font-size: 0.8vw;
    color: white;
    font-family: S;
}

.data-display1 p {
    position: absolute;
    left: 7.5vw;
    top: 3.6vw;
    font-size: 3vw;
    font-weight: lighter;
    color:white;
}
.data-display2 p {
    position: absolute;
    left: 18.6vw;
    top: 3.6vw;
    font-size: 3vw;
    font-weight: lighter;
    color: white;
}
.data-display3 p {
    position: absolute;
    left: 29.8vw;
    top: 3.6vw;
    font-size: 3vw;
    font-weight: lighter;
    color: white;
}
.data-display4 p {
    position: absolute;
    left: 40.5vw;
    top: 3.6vw;
    font-size: 3vw;
    font-weight: lighter;
    color: white;
}
.linea{
    top: 12vw;
    left: 73vw;
    position: absolute;
    width: 55vw;
    opacity: 0.4;
    transform: rotate(90deg); 
    animation: slideInFromRightLinea 1s ease-in-out forwards;
}

/* Aplicar las animaciones */

@keyframes slideInFromRightLinea {
    from {
        opacity: 0;
        transform: translateX(100px) rotate(90deg);
    }
    to {
        opacity: 0.3;
        transform: translateX(0) rotate(90deg);
    }
}


@keyframes slideInFromBottoma {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 0.1;
        transform: translateY(0);
    }
}




.b2,.p2 { animation: slideInFromRight 1s ease-out forwards; animation-delay: 0.4s; }
.p { animation: fadeIn 1s ease-out forwards; animation-delay: 0.8s; }
.a1{animation: slideInFromBottoma 1s ease-out forwards; animation-delay: 0.6s;}
.a3 { animation: bounceIn 1s ease-out forwards; animation-delay: 1s; }
.jaime2, .jaime3,.a2 { animation:  slideInFromLeft 1s ease-out forwards; animation-delay: 0.2s; }
.w1,.w2,.w3,.w4{ animation: slideInFromBottom 1s ease-out forwards; animation-delay: 0.6s; }
.linea{animation: slideInFromRightLinea 1s ease-in-out forwards;}

/* ==========================================*/
/* ================ PAGINA 3 ==============*/
/* ==========================================*/

.velocity-range {
    position: absolute;
    width: 20vw;
    height: 70vh;
    left: 81.5vw;
    top: 33vh;
    font-family: S;
    color: white;
}
.velocity-range  h3 {
    font-size: 0.9vw;
}
.velocity-range  p {
    font-size: 0.7vw;
    font-family: D;
}
.velocity-range #data-velocity h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #459cff;
}

.velocity-range #data-velocity2 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity2 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #ff6a07;
}

.velocity-range #data-velocity3 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity3 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #d8d217;
}

.bar {
    background-color: #30344c;
    height: 0.4vw;
    width: 12vw;
    margin-top: 4vw;
    border-radius: 8vw;
    overflow: hidden;
}

.porcent1 {
    width: 0;
    height: 100%;
    background-color: #459cff;
    border: #298bfe;
    animation: fillBar 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: 68.5%;
    }
}

.porcent2 {
    width: 0;
    height: 100%;
    background-color: #ff6a07;
    border: #298bfe;
    animation: fillBar2 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar2 {
    from {
        width: 0;
    }

    to {
        width: 21.4%;
    }
}

.porcent3 {
    width: 0;
    height: 100%;
    background-color: #d8d217;
    border: #298bfe;
    animation: fillBar3 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar3 {
    from {
        width: 0;
    }

    to {
        width: 10.1%;
    }
}

.videoFondo{
    position: absolute;
    top: 12vw;
    width: 30vw;
    left: 43vw;
    height: auto;
    border-radius: 2vw;
    z-index: 1;
}
.videoFondo2{
    position: absolute;
    top: 9vw;
    width: 40vw;
    left: 31vw;
    height: auto;
    border-radius: 2vw;
    opacity: 0.2;
}
.Sp{
    color: white;
    position: absolute;
    top: 36.5vw;
    width: 50vw;
    left: 38vw;
    font-size: 1vw;
    font-family: D;
}
.spx{
    position: absolute;
    color: white;
    top: 39vw;
    width: 40vw;
    left: 32vw;
    font-size: 1vw;
    font-family: T;
    text-align: center;
}
.Tu{
    position: absolute;
    color: white;
    top: 25vh;
    width: 40vw;
    left: 78vw;
    font-size: 1.2vw;
    font-family: T;
    font-weight: bolder;
}
.Cp{
    position: absolute;
    color: white;
    top: 25vh;
    width: 40vw;
    left: 8vw;
    font-size: 1.2vw;
    font-family: T;
    font-weight: bolder;
}
.Cph, .Cph2{
    position: absolute;
    color: white;
    top: 35vh;
    width: 40vw;
    left: 6vw;
    font-size: 1vw;
    font-family: S;
}
.Cph span{
    color: #459cff;
}
.img1{
    position: absolute;
    top: 38vh;
    left: 77vw;
}

.img2{
    position: absolute;
    top: 46vh;
    left: 77vw;
}
.img3{
    position: absolute;
    top: 54.7vh;
    left: 77.3vw;
}
.img4{
    position: absolute;
    top: 39vw;
    left: 6vw;
    border-radius: 6vw;
}
.img4 img{
    width: 3.5vw;
}
.img3 img{
    width: 2.3vw;
}
.img5{
    position: absolute;
    top: 39vw;
    left: 10vw;
    border-radius: 6vw;
}
.img5 img{
    width: 3.4vw;
}

.img4 img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
    border-radius: 4vw;
}
.img5 img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
    border-radius: 4vw;
}

.rockets {
    width: 12%;
    display: flex;
    gap: 2vw;
    margin-left: 82vw;
    margin-top: 40vw;
    text-align: center;
    z-index: 2;
}
.rockets a{
    text-decoration: none;
    color: white;
    font-family: D;
    font-size: 1vw;
    width: 40%;
    border-radius: 1vw;
    z-index: 2;
}

.rockets a:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
}
.rocket-section {
    display: none; 
}

.rocket-section.active {
    display: block; 
}

.Sp1{
    font-size: 4vw;
    font-weight: bold;
    color: #459cff;
    opacity: 0.3;
    font-family: D;
    top: 33vw;
    left: 40vw;
    position: absolute;
}
.Tu1{
    font-size: 1.5vw;
    font-weight: bold;
    color: #459cff;
    opacity: 0.3;
    font-family: D;
    top: 12.2vw;
    left: 78vw;
    position: absolute;
}
.Cp1{
    font-size: 1.5vw;
    font-weight: bold;
    color: #459cff;
    opacity: 0.3;
    font-family: D;
    top: 12.2vw;
    left: 6vw;
    position: absolute;
}

.img4, .img1, .Cph {animation: slideInFromLeft 1s ease-out forwards; animation-delay: 0.4s;}
.Sp, .img2, .Tu, .Cp, .velocity-range { animation: slideInFromRight 1s ease-out forwards; animation-delay: 0.4s; }
.spx, .img5, .img3, .videoFondo, .videoFondo1{ animation: slideInFromBottom 1s ease-out forwards; animation-delay: 0.6s; }

.velocity-range2 {
    position: absolute;
    width: 20vw;
    height: 70vh;
    left: 81.5vw;
    top: 33vh;
    font-family: S;
    color: white;
}
.velocity-range2  h3 {
    font-size: 0.9vw;
}
.velocity-range2  p {
    font-size: 0.7vw;
    font-family: D;
}
.velocity-range2 #data-velocity2 h3 {
    margin-top: -2vw;
}

.velocity-range2 #data-velocity2 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #459cff;
}

.velocity-range2 #data-velocity22 h3 {
    margin-top: -2vw;
}

.velocity-range2 #data-velocity22 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #ff6a07;
}

.velocity-range2 #data-velocity32 h3 {
    margin-top: -2vw;
}

.velocity-range2 #data-velocity32 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #d8d217;
}

.bar2 {
    background-color: #30344c;
    height: 0.4vw;
    width: 12vw;
    margin-top: 4vw;
    border-radius: 8vw;
    overflow: hidden;
}

.porcent12 {
    width: 0;
    height: 100%;
    background-color: #459cff;
    border: #298bfe;
    animation: fillBar1 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar1 {
    from {
        width: 0;
    }

    to {
        width: 29.9%;
    }
}

.porcent22 {
    width: 0;
    height: 100%;
    background-color: #ff6a07;
    border: #298bfe;
    animation: fillBar22 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar22 {
    from {
        width: 0;
    }

    to {
        width: 21.4%;
    }
}

.porcent32 {
    width: 0;
    height: 100%;
    background-color: #d8d217;
    border: #298bfe;
    animation: fillBar32 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar32 {
    from {
        width: 0;
    }

    to {
        width: 48.7%;
    }
}

.videoFondo1{
    position: absolute;
    top: 15vw;
    width: 18vw;
    left: 43vw;
    height: auto;
    border-radius: 2vw;
    z-index: 1;
}

.Sp12{
    font-size: 4vw;
    font-weight: bold;
    color: #d8d217;
    opacity: 0.3;
    font-family: D;
    top: 33vw;
    left: 40vw;
    position: absolute;
}
.Tu12{
    font-size: 1.5vw;
    font-weight: bold;
    color: #d8d217;
    opacity: 0.3;
    font-family: D;
    top: 12.2vw;
    left: 78vw;
    position: absolute;
}
.Cp12{
    font-size: 1.5vw;
    font-weight: bold;
    color: #d8d217;
    opacity: 0.3;
    font-family: D;
    top: 12.2vw;
    left: 6vw;
    position: absolute;
}
.Cph2 span{
    color: #d8d217;
}
