@font-face {
    font-family: D;
    src: url(font/SpaceX.ttf);
}
@font-face {
    font-family: T;
    src: url(font/Equinox\ Bold.otf);
}
@font-face {
    font-family: S;
    src: url(font/Equinox\ Regular.otf);
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vw;
    margin: auto;
    overflow: hidden;
}
.container{
    position: absolute;
    width: 400vw;
    height: 100vw;
    overflow: hidden;
}
/* ==========================================*/
/* ================ PAGINAS ==============*/
/* ==========================================*/

.pagina1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,255);
}
.pagina2{
    position: absolute;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:rgba(0,0,0,255);
}
.pagina3{
    position: absolute;
    left: 200vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:rgba(0,0,0,255);
}
.pagina4{
    position: absolute;
    left: 300vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:rgba(0,0,0,255);
}
.gif{
    position: absolute;
    width: 5vw;
    left: 10.5vw;
}
.gif2{
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    width: 92vw;
    top: 3vh;
    z-index: 10;
    font-family: T;
    font-size: 1.3vw;
}

.logo {
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.3;
    color:#ffffff;
    left: 2vw;
    position: relative;
    font-family: T;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffa500;
}


/* ==========================================*/
/* ================ PAGINA 1 ==============*/
/* ==========================================*/


.text-section {
    width: 50vw;
}

.text-section h3 {
    top: 34vh;
    position: absolute;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: lighter;
    left: 5vw;
    font-family: D;
}

.ev{
    left: 5vw;
    top: 31vh;
    position: absolute;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: S;
}

.text-section h1 {
    left: 5vw;
    position: absolute;
    left: 50vw;
    top: 20vh;
    font-size: 9vw;
    font-weight: bold;
    color:#ff5e00;
    writing-mode: vertical-lr;
    transform: rotate(0deg);
}

.Jaime{
    position: absolute;
    left: 6.5vw;
    top: 14vh;
    font-size: 2vw;
    font-weight: bold;
    color:#ff5e00;
    opacity: 0.7;
}

.text-section .highlight {
    color: white;
}

.text-section h2  {
    left: 5vw;
    position: absolute;
    top: 35vh;
    font-size: 6vw;
    font-weight: bold;
    background: url('imagen/image.png') no-repeat center center/cover;
    -webkit-background-clip: text;
    color: transparent;
    font-family: D;
}

.text-section p {
    left: 5vw;
    position: absolute;
    top: 47vh;
    color: #ffffff;
    font-size: 1vw;
    margin: 20px 0;
    font-family: S;
}

.learn-more {
    left: 5vw;
    position: absolute;
    top: 60vh;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 1vw;
    transition: background 0.3s, color 0.3s;
    font-family: T;
}

.learn-more:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
}

.image-section {
    top: 5vw;
    width: 40vh;
    position: absolute;
    left: 58vw;
}

.image-section img {
    width: 38.5vw;
    border-radius: 10px;
}


@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes bounceIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.text-section h1 {animation: slideInFromLeft 1s ease-out forwards; animation-delay: 0.4s;}
.text-section h2 { animation: slideInFromRight 1s ease-out forwards; animation-delay: 0.4s; }
.text-section h3 { animation: slideInFromBottom 1s ease-out forwards; animation-delay: 0.6s; }
.text-section p { animation: fadeIn 1s ease-out forwards; animation-delay: 0.8s; }
.ev, .learn-more { animation: bounceIn 1s ease-out forwards; animation-delay: 1s; }


.image-section img {
    opacity: 0;
    animation: slideInFromRight 1.5s ease-out forwards;
    animation-delay: 1s;
}


/* ==========================================*/
/* ================ PAGINA 2 ==============*/
/* ==========================================*/
.jaime2{
    left: 10vw;
    top: -10vw;
    position: absolute;
    width: 60vw;
}
.jaime3{
    left: -10vw;
    top: -30vw;
    position: absolute;
    width: 95vw;
    opacity: 0.2;
}

.a3{
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    color:#ffffff;
    font-family: S;
    top: 15vh;
    left: 43vw;
}

.a1{
    font-size: 5vw;
    font-weight: bold;
    color:#ff5e00;
    opacity: 0.2;
    font-family: D;
    top: 15vh;
    left: 42vw;
    position: absolute;
}

.p{
    position: absolute;
    font-size: 1vw;
    color:#ffffff;
    top: 29vh;
    left: 43vw; 
    font-family:Verdana;
}

.a2{
    position: absolute;
    font-size: 1vw;
    font-weight: bold;
    color:#ff5e0098;
    font-family: S;
    top: 45vh;
    left: 43vw;
}
.b2{
    position: absolute;
    font-size: 1vw;
    font-weight: bold;
    color:#ffffff;
    font-family: T;
    top: 45vh;
    left: 55vw;
}
.p2{
    position: absolute;
    font-size: 1vw;
    font-weight: bold;
    color:#ffffff;
    font-family:S;
    top: 60vh;
    left: 43vw;
}
/* Main Display Section */
.main-display {
    position: absolute;
    width: 53vw;
    height: 25vh;
    left: 37.5vw;
    top: 69vh;
    font-family: T;
}

svg {
    width: 20vw;
    height: 20vw;
    background-color: #00000000;
}

/* Estilos de los círculos */
.c1, .c2, .c3, .c4 {
    position: absolute;
    top: 0.6vw;
    width: 10vw;
    height: 10vw;

}

.c1 { left: 5vw; }
.c2 { left: 16vw; }
.c3 { left: 27vw; }
.c4 { left: 38vw; }

/* Líneas de animación */
.color1, .color3, .color5, .color7 {
    fill: none;
    stroke-width: 0.4vw;
    stroke-dashoffset:100; 
    transform: rotate(90deg);
    transform-origin: 50%;
    animation: cargar 2s forwards ease-in-out;
}
.color1{stroke-dasharray: 90 100;}
.color3{stroke-dasharray: 89 100;}
.color5{stroke-dasharray: 85 100;}
.color7{stroke-dasharray: 95 100;}


.color1 { stroke: #D35400; }
.color3 { stroke: #E67E22; }
.color5 { stroke: #F1C40F; }
.color7 { stroke: #E0CDA9; }


#color2, #color4, #color6, #color8 {
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 100;
    transform-origin: 50%;
}

/* Rotaciones */
#color2 { transform: rotate(179deg); }
#color4 { transform: rotate(150deg); stroke-dasharray: 73 100; }
#color6 { transform: rotate(179deg); stroke-dasharray: 65 100; }
#color8 { transform: rotate(196deg); stroke-dasharray: 60 100; }

@keyframes cargar {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


.w1 {
    position: absolute;
    left: 43vw;
    top: 91.3vh;
    font-size: 1.3vw;
    color: white;
    font-family: S;
}

.w2 {
    position: absolute;
    left: 57vw;
    top: 91.3vh;
    font-size: 1.3vw;
    color: white;
    font-family: S;
}

.w3 {
    position: absolute;
    left: 65.5vw;
    top: 91.3vh;
    font-size: 1.3vw;
    color: white;
    font-family: S;
}

.w4 {
    position: absolute;
    left: 76vw;
    top: 91.3vh;
    font-size: 1.3vw;
    color: white;
    font-family: S;
}

.data-display1 p {
    position: absolute;
    left: 7.5vw;
    top: 3.6vw;
    font-size: 3vw;
    font-weight: lighter;
    color:white;
}
.data-display2 p {
    position: absolute;
    left: 18.6vw;
    top: 3.6vw;
    font-size: 3vw;
    font-weight: lighter;
    color: white;
}
.data-display3 p {
    position: absolute;
    left: 29.8vw;
    top: 3.6vw;
    font-size: 3vw;
    font-weight: lighter;
    color: white;
}
.data-display4 p {
    position: absolute;
    left: 40.5vw;
    top: 3.6vw;
    font-size: 3vw;
    font-weight: lighter;
    color: white;
}
.linea{
    top: 12vw;
    left: 73vw;
    position: absolute;
    width: 55vw;
    opacity: 0.4;
    transform: rotate(90deg); 
    animation: slideInFromRightLinea 1s ease-in-out forwards;
}

/* Aplicar las animaciones */

@keyframes slideInFromRightLinea {
    from {
        opacity: 0;
        transform: translateX(100px) rotate(90deg);
    }
    to {
        opacity: 0.3;
        transform: translateX(0) rotate(90deg);
    }
}


@keyframes slideInFromBottoma {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 0.1;
        transform: translateY(0);
    }
}




.b2,.p2,.x,.xxx,.jaime24 { animation: slideInFromRight 1s ease-out forwards; animation-delay: 0.4s; }
.p { animation: fadeIn 1s ease-out forwards; animation-delay: 0.8s; }
.a1{animation: slideInFromBottoma 1s ease-out forwards; animation-delay: 0.6s;}
.a3 { animation: bounceIn 1s ease-out forwards; animation-delay: 1s; }
.jaime2, .jaime3,.a2,.xx,.xxxx,.jaime34,.footer { animation:  slideInFromLeft 1s ease-out forwards; animation-delay: 0.2s; }
.w1,.w2,.w3,.w4,.icons{ animation: slideInFromBottom 1s ease-out forwards; animation-delay: 0.6s; }
.linea{animation: slideInFromRightLinea 1s ease-in-out forwards;}

/* ==========================================*/
/* ================ PAGINA 3 ==============*/
/* ==========================================*/

.velocity-range {
    position: absolute;
    width: 20vw;
    height: 70vh;
    left: 81.5vw;
    top: 34vh;
    font-family: S;
    color: white;
}
.velocity-range  h3 {
    font-size: 0.9vw;
}
.velocity-range  p {
    font-size: 0.7vw;
    font-family: D;
}
.velocity-range #data-velocity h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #459cff;
}

.velocity-range #data-velocity2 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity2 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #ff6a07;
}

.velocity-range #data-velocity3 h3 {
    margin-top: -2vw;
}

.velocity-range #data-velocity3 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #d8d217;
}

.bar {
    background-color: #30344c;
    height: 0.4vw;
    width: 12vw;
    margin-top: 8.7vh;
    border-radius: 8vw;
    overflow: hidden;
}

.porcent1 {
    width: 0;
    height: 100%;
    background-color: #459cff;
    border: #298bfe;
    animation: fillBar 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: 68.5%;
    }
}

.porcent2 {
    width: 0;
    height: 100%;
    background-color: #ff6a07;
    border: #298bfe;
    animation: fillBar2 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar2 {
    from {
        width: 0;
    }

    to {
        width: 21.4%;
    }
}

.porcent3 {
    width: 0;
    height: 100%;
    background-color: #d8d217;
    border: #298bfe;
    animation: fillBar3 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar3 {
    from {
        width: 0;
    }

    to {
        width: 10.1%;
    }
}

.videoFondo{
    position: absolute;
    top: 27vh;
    width: 30vw;
    left: 43vw;
    height: auto;
    border-radius: 2vw;
    z-index: 1;
}
.videoFondo2{
    position: absolute;
    top: 21vh;
    width: 40vw;
    left: 31vw;
    height: auto;
    border-radius: 2vw;
    opacity: 0.2;
}
.Sp{
    color: white;
    position: absolute;
    top: 79.5vh;
    width: 50vw;
    left: 38vw;
    font-size: 1vw;
    font-family: D;
}
.spx{
    position: absolute;
    color: white;
    top: 85vh;
    width: 40vw;
    left: 32vw;
    font-size: 1vw;
    font-family: T;
    text-align: center;
}
.Tu{
    position: absolute;
    color: white;
    top: 25vh;
    width: 40vw;
    left: 78vw;
    font-size: 1.2vw;
    font-family: T;
    font-weight: bolder;
}
.Cp{
    position: absolute;
    color: white;
    top: 25vh;
    width: 40vw;
    left: 8vw;
    font-size: 1.2vw;
    font-family: T;
    font-weight: bolder;
}
.Cph, .Cph2, .Cph3, .Cph4{
    position: absolute;
    color: white;
    top: 40vh;
    width: 40vw;
    left: 6vw;
    font-size: 1vw;
    font-family: S;
}
.Cph span{
    color: #459cff;
}
.img1{
    position: absolute;
    top: 38vh;
    left: 77vw;
}

.img2{
    position: absolute;
    top: 46vh;
    left: 77vw;
}
.img3{
    position: absolute;
    top: 54.7vh;
    left: 77.3vw;
}
.img4{
    position: absolute;
    top: 85vh;
    left: 6vw;
    border-radius: 6vw;
}
.img4 img{
    width: 3.6vw;
}
.img1 img{
    width: 3.6vw;
}
.img2 img{
    width: 3.6vw;
}
.img3 img{
    width: 3vw;
}
.img5{
    position: absolute;
    top: 85vh;
    left: 10vw;
    border-radius: 6vw;
}
.img5 img{
    width: 3.4vw;
}

.img4 img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
    border-radius: 4vw;
}
.img5 img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
    border-radius: 4vw;
}

.rockets {
    width: 12%;
    display: flex;
    gap: 2vw;
    margin-left: 82vw;
    margin-top: 88vh;
    text-align: center;
    z-index: 2;
}
.rockets a{
    text-decoration: none;
    color: white;
    font-family: D;
    font-size: 1vw;
    width: 40%;
    border-radius: 1vw;
    z-index: 2;
}

.rockets a:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
}
.rocket-section {
    display: none; 
}

.rocket-section.active {
    display: block; 
}

.Sp1{
    font-size: 4vw;
    font-weight: bold;
    color: #459cff;
    opacity: 0.3;
    font-family: D;
    top: 71.5vh;
    left: 40vw;
    position: absolute;
}
.Tu1{
    font-size: 1.5vw;
    font-weight: bold;
    color: #459cff;
    opacity: 0.3;
    font-family: D;
    top: 26.5vh;
    left: 78vw;
    position: absolute;
}
.Cp1{
    font-size: 1.5vw;
    font-weight: bold;
    color: #459cff;
    opacity: 0.3;
    font-family: D;
    top: 26.5vh;
    left: 6vw;
    position: absolute;
}

.img4, .img1, .Cph, .Cph2 , .img13, .Cph3, .Cph4 {animation: slideInFromLeft 1s ease-out forwards; animation-delay: 0.4s;}
.Sp, .img2, .Tu, .Cp, .velocity-range, .img23, .velocity-range2, .velocity-range3, .velocity-range4 { animation: slideInFromRight 1s ease-out forwards; animation-delay: 0.4s; }
.spx, .img5, .img3, .videoFondo, .videoFondo1, .videoFondo13, .videoFondo14{ animation: slideInFromBottom 1s ease-out forwards; animation-delay: 0.6s; }

.velocity-range2 {
    position: absolute;
    width: 20vw;
    height: 70vh;
    left: 81.5vw;
    top: 34vh;
    font-family: S;
    color: white;
}
.velocity-range2  h3 {
    font-size: 0.9vw;
}
.velocity-range2  p {
    font-size: 0.7vw;
    font-family: D;
}
.velocity-range2 #data-velocity2 h3 {
    margin-top: -2vw;
}

.velocity-range2 #data-velocity2 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #459cff;
}

.velocity-range2 #data-velocity22 h3 {
    margin-top: -2vw;
}

.velocity-range2 #data-velocity22 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #ff6a07;
}

.velocity-range2 #data-velocity32 h3 {
    margin-top: -2vw;
}

.velocity-range2 #data-velocity32 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #d8d217;
}

.bar2 {
    background-color: #30344c;
    height: 0.4vw;
    width: 12vw;
    margin-top: 8.7vh;
    border-radius: 8vw;
    overflow: hidden;
}

.porcent12 {
    width: 0;
    height: 100%;
    background-color: #459cff;
    border: #298bfe;
    animation: fillBar1 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar1 {
    from {
        width: 0;
    }

    to {
        width: 29.9%;
    }
}

.porcent22 {
    width: 0;
    height: 100%;
    background-color: #ff6a07;
    border: #298bfe;
    animation: fillBar22 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar22 {
    from {
        width: 0;
    }

    to {
        width: 21.4%;
    }
}

.porcent32 {
    width: 0;
    height: 100%;
    background-color: #d8d217;
    border: #298bfe;
    animation: fillBar32 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar32 {
    from {
        width: 0;
    }

    to {
        width: 48.7%;
    }
}

.videoFondo1{
    position: absolute;
    top: 31.5vh;
    width: 18vw;
    left: 43vw;
    height: auto;
    border-radius: 2vw;
    z-index: 1;
}

.Sp12{
    font-size: 4vw;
    font-weight: bold;
    color: #d8d217;
    opacity: 0.3;
    font-family: D;
    top: 71.5vh;
    left: 40vw;
    position: absolute;
}
.Tu12{
    font-size: 1.5vw;
    font-weight: bold;
    color: #d8d217;
    opacity: 0.3;
    font-family: D;
    top: 26.5vh;
    left: 78vw;
    position: absolute;
}
.Cp12{
    font-size: 1.5vw;
    font-weight: bold;
    color: #d8d217;
    opacity: 0.3;
    font-family: D;
    top: 26.5vh;
    left: 6vw;
    position: absolute;
}
.Cph2 span{
    color: #d8d217;
}

.velocity-range3 {
    position: absolute;
    width: 20vw;
    height: 70vh;
    left: 81.5vw;
    top: 34vh;
    font-family: S;
    color: white;
}
.velocity-range3  h3 {
    font-size: 0.9vw;
}
.velocity-range3  p {
    font-size: 0.7vw;
    font-family: D;
}
.velocity-range3 #data-velocity3 h3 {
    margin-top: -2vw;
}

.velocity-range3 #data-velocity3 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #40C057;
}

.velocity-range3 #data-velocity23 h3 {
    margin-top: -2vw;
}

.velocity-range3 #data-velocity23 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #459cff;
}


.bar3 {
    background-color: #30344c;
    height: 0.4vw;
    width: 12vw;
    margin-top: 8.7vh;
    border-radius: 8vw;
    overflow: hidden;
}

.porcent13 {
    width: 0;
    height: 100%;
    background-color: #40C057;
    border: #298bfe;
    animation: fillBar13 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar13 {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

.porcent23 {
    width: 0;
    height: 100%;
    background-color: #459cff;
    border: #298bfe;
    animation: fillBar23 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar23 {
    from {
        width: 0;
    }

    to {
        width: 15%;
    }
}

.img13{
    position: absolute;
    top: 38vh;
    left: 77vw;
}

.img23{
    position: absolute;
    top: 46vh;
    left: 77vw;
}

.img13 img{
    width: 3vw;
}
.img23 img{
    width: 3vw;
}

.Sp13{
    font-size: 4vw;
    font-weight: bold;
    color: #40C057;
    opacity: 0.3;
    font-family: D;
    top: 71.5vh;
    left: 40vw;
    position: absolute;
}
.Tu13{
    font-size: 1.5vw;
    font-weight: bold;
    color: #40C057;
    opacity: 0.3;
    font-family: D;
    top: 26.5vh;
    left: 78vw;
    position: absolute;
}
.Cp13{
    font-size: 1.5vw;
    font-weight: bold;
    color: #40C057;
    opacity: 0.3;
    font-family: D;
    top: 26.5vh;
    left: 6vw;
    position: absolute;
}
.Cph3 span{
    color: #40C057;
}

.videoFondo13{
    position: absolute;
    top: 40vh;
    width: 30vw;
    left: 43vw;
    height: auto;
    border-radius: 2vw;
    z-index: 1;
}
.videoFondo23{
    position: absolute;
    top: 28vh;
    width: 40vw;
    left: 31vw;
    height: auto;
    border-radius: 2vw;
    opacity: 0.2;
}

.velocity-range4 {
    position: absolute;
    width: 20vw;
    height: 70vh;
    left: 81.5vw;
    top: 34vh;
    font-family: S;
    color: white;
}
.velocity-range4  h3 {
    font-size: 0.9vw;
}
.velocity-range4  p {
    font-size: 0.7vw;
    font-family: D;
}
.velocity-range4 #data-velocity4 h3 {
    margin-top: -2vw;
}

.velocity-range4 #data-velocity4 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #459cff;
}

.velocity-range4 #data-velocity24 h3 {
    margin-top: -2vw;
}

.velocity-range4 #data-velocity24 p {
    margin-top: -1vw;
    margin-left: 8.7vw;
    color: #ff6a07;
}


.bar4 {
    background-color: #30344c;
    height: 0.4vw;
    width: 12vw;
    margin-top: 8.7vh;
    border-radius: 8vw;
    overflow: hidden;
}

.porcent14 {
    width: 0;
    height: 100%;
    background-color: #459cff;
    border: #298bfe;
    animation: fillBar14 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar14 {
    from {
        width: 0;
    }

    to {
        width: 77.7%;
    }
}

.porcent24 {
    width: 0;
    height: 100%;
    background-color: #ff6a07;
    border: #298bfe;
    animation: fillBar24 2s ease-in-out forwards;
    border-radius: 2vw;
}

@keyframes fillBar24 {
    from {
        width: 0;
    }

    to {
        width: 22.3%;
    }
}


.Sp14{
    font-size: 4vw;
    font-weight: bold;
    color: #ff6a07;
    opacity: 0.3;
    font-family: D;
    top: 71.5vh;
    left: 40vw;
    position: absolute;
}
.Tu14{
    font-size: 1.5vw;
    font-weight: bold;
    color: #ff6a07;
    opacity: 0.3;
    font-family: D;
    top: 26.5vh;
    left: 78vw;
    position: absolute;
}
.Cp14{
    font-size: 1.5vw;
    font-weight: bold;
    color: #ff6a07;
    opacity: 0.3;
    font-family: D;
    top: 26.5vh;
    left: 6vw;
    position: absolute;
}
.Cph4 span{
    color: #ff6a07;
}

.videoFondo14{
    position: absolute;
    top: 31.5vh;
    width: 17vw;
    left: 49vw;
    height: auto;
    border-radius: 2vw;
    z-index: 1;
}
.videoFondo24{
    position: absolute;
    top: 20vh;
    width: 22vw;
    left: 40vw;
    height: auto;
    border-radius: 2vw;
    opacity: 0.2;
}

/* ==========================================*/
/* ================ PAGINA 4 ==============*/
/* ==========================================*/

.flechas {
    width: 12%;
    display: flex;
    gap: 2vw;
    margin-left: 44vw;
    margin-top: 85vh;
    text-align: center;
    z-index: 2;
}
.flechas a{
    text-decoration: none;
    color: white;
    font-family: D;
    font-size: 1vw;
    width: 40%;
    border-radius: 1vw;
    z-index: 2;
    background-color: rgba(131, 131, 131, 0.374);
}

.flechas a:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.863);
}
.flecha-section {
    display: none;
}
.flecha-section.active {
    display: block;
}
.Tu15{
    font-size: 1.5vw;
    font-weight: bold;
    color: #1E90FF;
    opacity: 0.3;
    font-family: D;
    top: 20vh;
    left: 62.5vw;
    position: absolute;
    z-index: 1;
}
.Cp15{
    font-size: 1.5vw;
    font-weight: bold;
    color: #ff6a07;
    opacity: 0.3;
    font-family: D;
    top: 20vh;
    left: 15.5vw;
    position: absolute;
    z-index: 1;
}

/*===========================================*/

.uno{
    position: absolute;
    font-size: 4vw;
    top: 27vh;
    left:23vw ;
    z-index: 1;
}
.dos{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:13vw ;
    color: white;
    z-index: 1;
    font-family: D;
}
.tres{
    position: absolute;
    font-size: 2vw;
    top: 47vh;
    left:15vw ;
    color: white;
    z-index: 1;
    font-family: S;
}
.clase{
    display: flex;
    position: absolute;
    top: 60vh;
    left:13vw ;
    gap: 3vw;
    z-index: 1;
}

.clase img{
    transition: transform 0.3s ease, border-radius 0.3s ease;
    width: 7vw;
}

.cc img{
    margin-top: 0.2vw;
    width: 6.5vw;
    transition: transform 0.3s ease, border-radius 0.3s ease;
}

.clase img:hover{
    transform: scale(1.3);
}

/*-------------------------------------*/
.uno1{
    position: absolute;
    font-size: 4vw;
    top: 27vh;
    left:74vw ;
    z-index: 1;
}
.dos1{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:62.5vw ;
    color: white;
    z-index: 1;
    font-family: D;
}
.tres1{
    position: absolute;
    font-size: 1.9vw;
    top: 47vh;
    left:59.5vw ;
    color: white;
    z-index: 1;
    font-family: S;
}
.clase1{
    display: flex;
    position: absolute;
    top: 60vh;
    left:64vw ;
    gap: 3vw;
    z-index: 1;
}

.clase1 img{
    transition: transform 0.3s ease, border-radius 0.3s ease;
    width: 7vw;
}

.clase1 img:hover{
    transform: scale(1.3);
}
/*===========================================*/
.dos2{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:19.5vw ;
    color: white;
    z-index: 1;
    font-family: D;
}
.tres2{
    position: absolute;
    font-size: 2vw;
    top: 47vh;
    left:12.7vw ;
    color: white;
    z-index: 1;
    font-family: S;
}
/*-------------------------------------*/

.dos12{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:60vw ;
    color: white;
    z-index: 1;
    font-family: D;
}
.tres12{
    position: absolute;
    font-size: 1.9vw;
    top: 47vh;
    left:59vw ;
    color: white;
    z-index: 1;
    font-family: S;
}
/*===========================================*/
.dos3{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:14.5vw ;
    color: white;
    z-index: 1;
    font-family: D;
}
.tres3{
    position: absolute;
    font-size: 2vw;
    top: 47vh;
    left:16.5vw ;
    color: white;
    z-index: 1;
    font-family: S;
}
.clase3{
    display: flex;
    position: absolute;
    top: 60vh;
    left:18vw ;
    gap: 3vw;
    z-index: 1;
}

.clase3 img{
    transition: transform 0.3s ease, border-radius 0.3s ease;
    width: 7vw;
}

.clase3 img:hover{
    transform: scale(1.3);
}

/*-------------------------------------*/

.dos13{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:59vw ;
    color: white;
    z-index: 1;
    font-family: D;
}
.tres13{
    position: absolute;
    font-size: 2vw;
    top: 47vh;
    left:62.5vw ;
    color: white;
    z-index: 1;
    font-family: S;
    text-align: center;
}
.clase13{
    display: flex;
    position: absolute;
    top: 60vh;
    left:68vw ;
    gap: 3vw;
    z-index: 1;
}

.clase13 img{
    transition: transform 0.3s ease, border-radius 0.3s ease;
    width: 7vw;
}

.clase13 img:hover{
    transform: scale(1.3);
}
/*===========================================*/
.dos4{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:16.6vw ;
    color: white;
    z-index: 1;
    font-family: D;
}
.tres4{
    position: absolute;
    font-size: 2vw;
    top: 47vh;
    left:14vw ;
    color: white;
    z-index: 1;
    font-family: S;
    text-align: center;
}
.clase4{
    display: flex;
    position: absolute;
    top: 60vh;
    left:17vw ;
    gap: 3vw;
    z-index: 1;
}

.clase4 img{
    transition: transform 0.3s ease, border-radius 0.3s ease;
    width: 7vw;
}

.clase4 img:hover{
    transform: scale(1.3);
}

/*-------------------------------------*/

.dos14{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:60vw ;
    color: white;
    z-index: 1;
    font-family: D;
    text-align: center;
}
.tres14{
    position: absolute;
    font-size: 2vw;
    top: 53vh;
    left:60vw ;
    color: white;
    z-index: 1;
    font-family: S;
    text-align: center;
}
.clase14{
    display: flex;
    position: absolute;
    top: 65vh;
    left:68vw ;
    gap: 3vw;
    z-index: 1;
}

.clase14 img{
    transition: transform 0.3s ease, border-radius 0.3s ease;
    width: 7vw;
}

.clase14 img:hover{
    transform: scale(1.3);
}
/*===========================================*/
.dos5{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:8vw ;
    color: white;
    z-index: 1;
    font-family: D;
}
.tres5{
    position: absolute;
    font-size: 2vw;
    top: 47vh;
    left:21vw ;
    color: white;
    z-index: 1;
    font-family: S;
    text-align: center;
}
.clase5{
    display: flex;
    position: absolute;
    top: 60vh;
    left:17vw ;
    gap: 3vw;
    z-index: 1;
}

.clase5 img{
    transition: transform 0.3s ease, border-radius 0.3s ease;
    width: 7vw;
}

.clase5 img:hover{
    transform: scale(1.3);
}

/*-------------------------------------*/

.dos15{
    position: absolute;
    font-size: 1.7vw;
    top: 40vh;
    left:54vw ;
    color: white;
    z-index: 1;
    font-family: D;
    text-align: center;
}
.tres15{
    position: absolute;
    font-size: 2vw;
    top: 53vh;
    left:62vw ;
    color: white;
    z-index: 1;
    font-family: S;
    text-align: center;
}
.clase15{
    display: flex;
    position: absolute;
    top: 65vh;
    left:68vw ;
    gap: 3vw;
    z-index: 1;
}

.clase15 img{
    transition: transform 0.3s ease, border-radius 0.3s ease;
    width: 7vw;
}

.clase15 img:hover{
    transform: scale(1.3);
}

/*-------------------------------------*/
.icons {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    position: absolute;
    top: 94.5vh;
    left: 4vw;
    transform: translateX(-50%);
}

.icons a img {
    width: 2vw;
    transition: transform 0.3s ease, border-radius 0.3s ease;
}

.icons a img:hover {
    transform: scale(1.3);
}

.footer{
    position: absolute;
    top: 94.5vh;
    left: 20vw;
    font-size: 0.8vw;
    color: #B0B0B0;
    font-family: Verdana;
}
.ft{
    position: absolute;
    top: 94.5vh;
    left: 18vw;
    background-color: white;
    width: 0.1vw;
    height: 2vw;
}
.Cp15,.o1,.uno1,.dos1,.tres12,.dos12,.tres1,.clase1, .dos14, .tres14, .clase14, .dos15, .tres15, .clase15,.dos3,.tres3,.clase3{animation: slideInFromLeft 1s ease-out forwards; animation-delay: 0.4s;}
.Tu15,.o2,.uno,.dos,.dos2,.tres2,.tres,.clase,
.dos4, .tres4, .clase4, .dos5, .tres5, .clase5,.dos13,.tres13,.clase13{ animation: slideInFromRight 1s ease-out forwards; animation-delay: 0.4s; }
.flechas, .ft{ animation: slideInFromBottom 1s ease-out forwards; animation-delay: 0.6s; }

.Cp15, .o1, .Tu15, .o2, 
.uno, .dos, .tres, .clase, .uno1, .dos1, .tres1, .clase1,
.flechas, .icons, .footer, .ft,
.dos2,.dos12,.tres2,.tres12,
.dos3, .tres3, .clase3, .dos13, .tres13, .clase13,
.dos4, .tres4, .clase4, .dos14, .tres14, .clase14,
.dos5, .tres5, .clase5, .dos15, .tres15, .clase15 {
    animation-delay: 0.2s !important; 
}
.fondo-rotante {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 15vw;
    height: 15vw;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.5s ease-in-out;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
    border: 2px solid rgba(255, 165, 0, 0.8);
}
.gif1{
    position: absolute;
    width: 20vw;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

/*00000000000000000000000000000000000000000000000000000*/

.barra{
    display: none;
}
#menuHambur{
    display: none;
}
.menu-icon{
    display: none;
}
/*00000000000000000000000000000000000000000000000000000*/
@media only screen and (max-width: 768px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        overflow: hidden;
        height: 100%;
    }

    .container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    #menuHamber {
        display: none;
    }
    header{
        display: none;
    }
    .gif2{
        position: absolute;
        width: 25vw;
        left: 74vw;
        display: block;
        z-index: 1;
        top: 1%;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 1vh;
        left: 10px;
        font-size: 15vw;
        z-index: 1001;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
    }

    .contenedor {
        width: 100%;
        overflow-x: hidden;
    }

    .barra {
        position: fixed;
        top: 0;
        left: -80%;
        width: 80%;
        height: 100%;
        background-color: rgb(60, 60, 60);
        background-image: url(img/pexels-pixabay-159400.png);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 50px;
        transition: 0.3s;
        z-index: 1000;
        overflow-y: auto;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        font-weight: lighter;
    }

    #menuHambur:checked ~ .container .barra {
        left: 0;
    }

    .i1{
        position: absolute;
        left: 5vw;
        top:15%;
    }
    .i2{
        position: absolute;
        left: 5vw;
        top:25%;
    }
    .i3{
        position: absolute;
        left: 5vw;
        top:35%;
    }
    .i4{
        position: absolute;
        left: 3vw;
        top:45%;
    }

    .i1 img,.i2 img,.i3 img,.i4 img{
        width: 12vw;
    }
    
    .home{
        position:absolute;
        top: 16%;
        left: 20vw;
        width: 6vw;
        height: 6vw;
        font-size: 6vw;
        color: white;
        font-family: D;
    }
    .about{
        position:absolute;
        top: 26%;
        left: 20vw;
        width: 6vw;
        height: 6vw;
        font-size: 6vw;
        color: white;
        font-family: D;
    }
    .project{
        position:absolute;
        top: 36%;
        left: 20vw;
        width: 6vw;
        height: 6vw;
        font-size: 6vw;
        color: white;
        font-family: D;
    }
    .services{
        position:absolute;
        top: 46%;
        left: 20vw;
        width: 6vw;
        height: 6vw;
        font-size: 6vw;
        color: white;
        font-family: D;
    }

    /*-------------------------------------*/
    .icons2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5vw;
        position: absolute;
        top: 75%;
        left: 73vw;
        transform: translateX(-50%);
    }

    .icons2 a img {
        width: 8vw;
        transition: transform 0.3s ease, border-radius 0.3s ease;
    }

    .footer2{
        position: absolute;
        top: 95%;
        left: 4vw;
        font-size: 4vw;
        color: #a9a7a7;
        font-family: Verdana;
    }
    /*1111111111111111111111111111111111*/

    .image-section {
        top: 30%;
        width: 40vh;
        position: absolute;
        left: 30vw;
    }
    
    .image-section img {
        width: 110vw;
    }
    .text-section h2  {
        left: 5vw;
        position: absolute;
        top: 15%;
        font-size: 13vw;
        font-weight: bold;
        background: url('imagen/image.png') no-repeat center center/cover;
        -webkit-background-clip: text;
        color: transparent;
        font-family: D;
    }
    .text-section h1 {
        position: absolute;
        left: 1vw;
        top: 41%;
        font-size: 22vw;
        font-weight: bold;
        color:#ff5e00;
        writing-mode: vertical-lr;
        transform: rotate(0deg);
    }
    .Jaime{
        position: absolute;
        left: 18vw;
        top: 20%;
        font-size: 10vw;
        font-weight: bold;
        color:#ff5e00;
        opacity: 0.7;
    }
    .text-section h3 {
        top: 24%;
        position: absolute;
        color: #ffffff;
        font-size: 3.2vw;
        font-weight: lighter;
        left: 5vw;
        font-family: D;
    }
    
    .ev{
        left: 5vw;
        top: 26.5%;
        position: absolute;
        color: #ffffff;
        font-size: 7vw;
        font-weight: lighter;
        font-family: S;
    }
    .text-section p {
        display: none;
    }
    .learn-more {
        display: none;
    }

    /*22222222222222222222222222222222222222*/

    .main-display {
    position: absolute;
    width: 53vw;
    height: 25vh;
    left: 1.7vw;
    top: 69%;
    font-family: T;
    }

    /* Estilos de los círculos */
    .c1, .c2, .c3, .c4 {
        position: absolute;
        top: 0.6vw;
        width: 25vw;
        height: 25vw;
    }

    .c1 { left: 0vw; }
    .c2 { left: 24vw; }
    .c3 { left: 48vw; }
    .c4 { left: 72vw; }

    /* Líneas de animación */
    .color1, .color3, .color5, .color7 {
        fill: none;
        stroke-width: 2.3vw;
        stroke-dashoffset:100; 
        transform: rotate(90deg);
        transform-origin: 50%;
        animation: cargar 2s forwards ease-in-out;
    }

    .data-display1 p {
        left: 6vw;
        top: 16%;
        font-size: 8vw;
    }
    .data-display2 p {
        left: 31vw;
        top: 16%;
        font-size: 8vw;
    }
    .data-display3 p {
        left: 54vw;
        top: 16%;
        font-size: 8vw;
    }
    .data-display4 p {
        left: 78vw;
        top: 16%;
        font-size: 8vw;
    }
    .w1 {
        left: 3vw;
        top: 82%;
        font-size: 3vw;
    }
    
    .w2 {
        left: 34vw;
        top: 82%;
        font-size: 3vw;
    }
    
    .w3 {
        left: 52vw;
        top: 82%;
        font-size: 3vw;
    }
    
    .w4 {
        left: 75vw;
        top: 82%;
        font-size: 3vw;
    }
    .p2{
        font-size: 3vw;
        top: 92%;
        left: 4vw;
        right: 4vw; 
        text-align: center;
    }
    .p{
        font-size: 4vw;
        text-align: center;
        top: 35%;
        left: 10vw;
        right: 10vw; 
    }
    .a2{
        font-size: 4vw;
        top: 60%;
        left: 15vw;
    }
    .b2{
        font-size: 4vw;
        top: 60%;
        left: 40vw;
    }
    .jaime2{
        left: 15vw;
        top: -15vh;
        position: absolute;
        width: 120vw;
    }
    .jaime3{
        display: none;
    }
    .a3, .a1{
        display: none;
    }
    .linea{
        display: none;
    }
    .rockets {
        width: 30%;
        display: flex;
        gap: 7vw;
        margin-left: 30vw;
        margin-top: 10%;
    }
    .rockets a{
        font-size: 5vw;
        text-decoration: none;
        color: white;
        font-family: D;
        width: 100%;
        border-radius: 3vw;
        z-index: 2;
    }

    /*3333333333333333333333333333333333*/

    .videoFondo{
        position: absolute;
        top: 26%;
        width: 60vw;
        left: 30vw;
        height: auto;
        border-radius: 2vw;
        z-index: 1;
    }
    .videoFondo24{
        position: absolute;
        top: 22%;
        width: 45vw;
        left: 20vw;
        height: auto;
        border-radius: 2vw;
        z-index: 1;
    }
    .videoFondo14{
        position: absolute;
        top: 27%;
        width: 27vw;
        left: 45vw;
        height: auto;
        border-radius: 2vw;
        z-index: 1;
    }
    .videoFondo13{
        position: absolute;
        top: 32%;
        width: 60vw;
        left: 30vw;
        height: auto;
        border-radius: 2vw;
        z-index: 1;
    }
    .videoFondo1{
        position: absolute;
        top: 31%;
        width: 30vw;
        left: 35vw;
        height: auto;
        border-radius: 2vw;
        z-index: 1;
    }
    .videoFondo2,.videoFondo23{
        position: absolute;
        top: 23%;
        width: 80vw;
        left: 10vw;
        height: auto;
        border-radius: 2vw;
        opacity: 0.2;
    }
    .Sp1,.Sp12,.Sp13,.Sp14{
        font-size: 9vw;
        font-weight: bold;
        opacity: 0.3;
        font-family: D;
        top: 13%;
        left: 22vw;
        position: absolute;
    }
    .Sp{
        color: white;
        position: absolute;
        top: 17.5%;
        width: 50vw;
        left: 12vw;
        font-size: 3.3vw;
        font-family: D;
    }
    .Tu1,.Tu13,.Tu12,.Tu14{
        font-size: 4vw;
        font-weight: bold;
        opacity: 0.3;
        font-family: D;
        top: 62%;
        left: 28vw;
        position: absolute;
    }
    .Cp1,.Cp12,.Cp13,.Cp13,.Cp14,.Cph,.Cph2,.Cph3,.Cph4,.Cp,.Tu{
        display: none;
    }
    .spx{
        top: 50%;
        width: 90vw;
        left: 6vw;
        right: 3vw;
        font-size: 3vw;
        text-align: center;
    }
    /*=================================*/
    .velocity-range,.velocity-range2,.velocity-range3,.velocity-range4 {
        position: absolute;
        width: 20vw;
        height: 70vh;
        left: 28vw;
        top: 64%;
        font-family: S;
        color: white;
    }
    .velocity-range  h3 {
        display: none;
    }
    .velocity-range  p {
        display: none;
    }
    .velocity-range2  h3 {
        display: none;
    }
    .velocity-range2  p {
        display: none;
    }
    .velocity-range3  h3 {
        display: none;
    }
    .velocity-range3  p {
        display: none;
    }
    .velocity-range4  h3 {
        display: none;
    }
    .velocity-range4  p {
        display: none;
    }
    .bar,.bar2,.bar3,.bar4 {
        background-color: #30344c;
        height: 4vw;
        width: 50vw;
        margin-top: 40%;
        border-radius: 8vw;
        overflow: hidden;
    }
    
    .img1{
        top: 67%;
        left: 7vw;
    }
    .img2{
        top: 73%;
        left: 7vw;
    }
    .img3{
        top: 80%;
        left: 7.9vw;
    }
    .img1 img{
        width: 11vw;
    }
    .img2 img{
        width: 11vw;
    }
    .img3 img{
        width: 9vw;
    }
    .img4{
        top: 80%;
        left: 85vw;
    }
    .img4 img{
        width: 10vw;
    }
    .img5{
        top: 73%;
        left: 85vw;
    }
    .img5 img{
        width: 10vw;
    }
}

